.DS_Store
*pyc
*~
*.fits
*.gz
*.tar
test*
tmp*
presentations
*/detritus
*/*/detritus
*/*/results/
magellanic/starfit/plots/galex_fov/*png
magellanic/sfhs/lf_data/*png
magellanic/sfhs/*png
magellanic/sfhs/stamps
magellanic/sfhs/regions/
