.DS_Store
*pyc
*~
*.fits
*.gz
*.tar
test*
tmp*
presentations
*/detritus
*/*/detritus
*/*/results/
magellanic/starfit/plots/galex_fov/*png
magellanic/starfit/plots/png
magellanic/sfhs/regions/
magellanic/sfhs/learn_agb/chains
magellanic/sfhs/prediction_scripts/figures*